
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>Podcasts</title>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="/static/webcomponentsjs/webcomponents-lite.js"></script>
    <link rel="import" href="/static/paper-scroll-header-panel/paper-scroll-header-panel.html">
    <link rel="import" href="/static/paper-toolbar/paper-toolbar.html">
    <link rel="import" href="/static/iron-icons/iron-icons.html">
    <link rel="import" href="/static/paper-icon-button/paper-icon-button.html">
    <link rel="import" href="/static/paper-drawer-panel/paper-drawer-panel.html">
    <link rel="import" href="/static/paper-card/paper-card.html">
    <link rel="import" href="/static/paper-item/paper-item.html">
    <link rel="import" href="/static/paper-menu/paper-menu.html">
    <link rel="import" href="/static/paper-button/paper-button.html">


    <link rel="stylesheet" href="/static/paper-styles/demo.css">

    <style is="custom-style">
      a {
        text-decoration: none;
      }
      paper-card {
        @apply(--layout-vertical);
        width: 100%;
        height: 100%;
        margin-bottom: 16px;
      }

      paper-scroll-header-panel {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #414B4B;
      }
      paper-toolbar {
        background-color: var(--google-red-500, #4285f4);
      }
      paper-toolbar .title {
        margin: 0 8px;
      }
      paper-scroll-header-panel .content {
        padding-top: 50px;
        padding-left: 100px;
        padding-right: 100px;
      }

      paper-scroll-header-panel .content {
        padding-top: 50px;
        padding-left: 100px;
        padding-right: 100px;
      }

      #updateBtn {
        position: absolute;
        left: 350px;
        height: 30px;
        background: #25A6E1;
        background: -moz-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
        background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#25A6E1),color-stop(100%,#188BC0));
        background: -webkit-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
        background: -o-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
        background: -ms-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
        background: linear-gradient(top,#25A6E1 0%,#188BC0 100%);
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#25A6E1',endColorstr='#188BC0',GradientType=0);
        padding:8px 13px;
        color:#fff;
        font-family:'Helvetica Neue',sans-serif;
        font-size:17px;
        border-radius:4px;
        -moz-border-radius:4px;
        -webkit-border-radius:4px;
        border:1px solid #1A87B9
      }  
    </style>
  </head>
  <body unresolved>
   <paper-drawer-panel>
    <paper-header-panel drawer>
    <paper-toolbar><div class="flex title">Menu</div></paper-toolbar>
      <div class="horizontal-section">
        <paper-menu>
          <a href="http://www.voxiter.com"><paper-item><paper-icon-button icon="home"></paper-icon-button>Home</paper-item></a>
          <a href="/"><paper-item><paper-icon-button icon="add-circle"></paper-icon-button>Add a Podcast</paper-item></a>
          <a href="/list"><paper-item><paper-icon-button icon="theaters"></paper-icon-button>Past Podcasts</paper-item></a>
        </paper-menu>
      </div>
    </paper-header-panel>
     

      <paper-scroll-header-panel main>

      <paper-toolbar>

        <paper-icon-button icon="arrow-back"></paper-icon-button>
        <div class="flex title">Voxiter</div>

      </paper-toolbar>

      <div class="content">
          <%if (data != null) { %>
            <paper-header-panel>
              <paper-toolbar id="podcast">
                <h1><%= data[0].title %></h1>
              </paper-toolbar>
            </paper-header-panel>
            <paper-card class="fancy">
              <div class="card-content">
                <div class="small">
                  <audio controls>
                    <source src="/<%= data[0].audioClip%>" type="audio/wav">
                  </audio>
                  <form method="post" action="/update/<%= data[0]._id %>" >
                    <textarea  name="results" id="my_text" rows="25" cols="120"><%= data[0].post.results %></textarea>
                    <div class="button">
                      <input id="updateBtn" type="submit" value="Update">
                    </div>
                    </form>
                  </div>
                </div>
            <paper-card>
          <% } %>
      </div>

    </paper-scroll-header-panel>

    </paper-drawer-panel>

  </body>


</html>


