<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="ct" content="<%= ct %>">
    <title>Speech to Text</title>
    <link href="css/watson-bootstrap-style.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="navbar-wrapper">

        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="audioParent">
              <audio style="display:none" class="audio" controls>
                Your browser does not support the audio element.
              </audio>
            </div>
          </div>
        </div><!-- row -->

                <div class="table-scroll">
                </div>

          </div><!-- /.col -->
        </div><!-- /.row -->
        <div id="wrapper">
          <div id="first"><img src="http://www.bugattiroseagency.com/wp-content/uploads/2015/06/Headshot-2-400x800.jpg"></div>
          <div id="second"><img src="http://img05.deviantart.net/c245/i/2011/063/f/4/black_and_white_headshot_by_browneyesturnedblue-d3awj33.png"></div>
          <div id="third"><img src="http://www.ddlegends.com/web/wp-content/uploads/2015/02/MG_9160-400x800.jpg"></div>
          <div id="fourth"><img src="http://rocketboysolutions.com/images/portfolio/5.jpg"></div>
          <div id="fifth"><img src="http://photos.modelmayhem.com/photos/130614/16/51bba5ca8c83d.jpg"></div>
        </div>

          <form method="post" action="/" >
              <textarea name="results" readonly id="resultsText"></textarea>
              <input id="sendBtn" type="image" src="images/recordstop.jpg" alt="submit">
          </form>

      
        <p><a href="/list">Back to Past Broadcasts</a></p>
 
         <div id="foot" class="row">
            <nav  class="navbar navbar-inverse">
              <ul class="navbar-text">
                <li id="recordButton"  onclick="startRecording()" class="btn-xlarge" >
                <img id="microphoneIcon" src="images/play.svg" class="icon">
                </li>
              </ul>
            </nav>
        </div>
      </div>

       <button type="button" onclick="stopRecording()">Stop</button>

      <!-- for file upload dialog in toolbar
      <input style="display:none" type="file" id="fileUploadDialog">

      <!-- Place js files at the end of the document, with fallbacks for CDNs -->
      <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
      <script src="https://cdn.jsdelivr.net/binaryjs/0.2.1/binary.min.js"></script>
      <script src="js/index.js"></script>
      <script src="js/recorder.js"></script>
  </body>
</html>


